dash==2.1.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-extensions==0.0.69
dash-html-components==2.0.0
dash-table==5.0.0
matplotlib==3.3.3
pecos==0.2.0
pandas==1.4.0
plotly==5.5.0
pvlib==0.9.0
DateTime==4.4
scikit-learn==1.0.2
seaborn==0.11.2
gunicorn==20.1.0
numpy==1.21.5
tzwhere==3.0.3
rtools==0.2.12
